@tailwind base;
@tailwind components;
@tailwind utilities;

.datatable-table {
    @apply my-5;

    thead {
        @apply text-left;

        th {
            @apply border-b font-medium p-4 pl-1 pt-0 pb-3 text-slate-400 text-left
        }
    }

    tbody {
        @apply bg-white;

        td {
            @apply border-b border-slate-100 p-4 pl-1 text-slate-500
        }

        tr:nth-child(even) {
            @apply bg-slate-100;
        }
    }
}

.bg-primary-gradient {
    @apply bg-gradient-to-t from-slate-500 to-primary;
}
